@{
    Layout = "~/Views/Shared/_IzendaLayout.cshtml";
    ViewBag.Title = "Report Part";
}
@section scripts
    {
    <script type="text/javascript">
        $(document).ready(function () {
            izendaInitReportPartExportViewer('@ViewBag.Id', '@ViewBag.Token');
        });
    </script>
}
<style>

    #izenda-root > .izenda {
        background-color: transparent !important;
    }

    /* Sets all margin and padding of the container to zero for the export image to work correctly */
    .container-fluid {
        padding: 0;
    }
</style>
<div class="izenda-container" id="izenda-root" style="margin-top:0px;"></div>
