@using MVCCoreStarterKit.Services

<p class="footer-content">&copy; @DateTime.Now.Year - Izenda Integrated BI Platform - Version @IzendaSkinHelper.Instance.ProductVersion</p>
@*If you want to display version number, please uncomment following line and replace above*@
@*<p class="footer-content">&copy; @DateTime.Now.Year - Izenda Integrated BI Platform - Version @IzendaSkinHelper.Instance.ProductVersion</p>*@
