/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

body {
    height: 100vh;
    padding-top: 50px !important;
    padding-bottom: 40px !important;
    line-height: 1.428571429 !important;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif !important;
    font-size: 14px !important;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    height: 100%;
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

.izenda-container {
    width: 100%;
    height: 100%;
    min-height: 100%;
    /*margin-top:50px;*/
}

.readme-container {
    margin-top: 50px;
    min-height: 100vh;
}

.izenda-report-part {
    width: 800px;
    height: 500px;
}

#izenda-root .izenda .collapsible-list-items.panel-group .panel {
    border-radius: 0;
}

.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    margin: -75px 0 0 -75px;
    position: absolute;
    left: 50%;
    top: 50%;
}

.loader-text {
    position: absolute;
    left: 45%;
    top: 60%;
    font-size: x-large;
    color: #3498DB;
}

#loader {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.container-fluid.body-content .izenda-header h1,
.container-fluid.body-content h2 {
    color: #1c4e89;
}

.container-fluid.body-content .jumbotron.izenda-header {
    padding: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-bottom: 30px;
    font-size: 21px;
    font-weight: 200;
    line-height: 2.1428571435;
    color: inherit;
    background-color: #eee;
}

@media screen and (min-width: 768px) {
    .container-fluid.body-content .jumbotron {
        padding-top: 48px;
        padding-bottom: 48px;
    }
}

.container-fluid .navbar-nav > li > .dropdown-menu {
    margin-top: 0;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}

.container-fluid .show > .dropdown-menu {
    display: block;
}

.container-fluid .dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    margin-top: 2px;
    font-size: 14px;
    list-style: none;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0,0,0,0.15);
    border-radius: 4px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,0.175);
    box-shadow: 0 6px 12px rgba(0,0,0,0.175);
    background-clip: padding-box;
}

.container-fluid .dropdown-menu > li > a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.428571429;
    color: #333;
    white-space: nowrap;
    font-size: 14px;
}

.container-fluid .dropdown-menu > li > a:hover,
.container-fluid .dropdown-menu > li > a:focus {
    color: #fff;
    text-decoration: none;
    background-color: #428bca;
}

.container-fluid.body-content .jumbotron p {
    line-height: 1.4;
}

.container-fluid.body-content .lead {
    margin-bottom: 20px;
    font-size: 16.099999999999998px;
    font-weight: 200;
    line-height: 1.4;
}

@media (min-width: 768px) {
    .container-fluid.body-content .lead {
        font-size: 21px;
    }
}

@media screen and (min-width: 768px) {
    .container-fluid.body-content .jumbotron h1 {
        font-size: 63px;
    }
}

.container-fluid.body-content .form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.428571429;
    color: #555;
    vertical-align: middle;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    margin-bottom: 15px;
}

.container-fluid.body-content label {
    display: inline-block;
    margin-bottom: 5px;
    font-weight: bold;
}

.container-fluid.body-content .radio label,
.container-fluid.body-content .checkbox label {
    display: inline;
    margin-bottom: 0;
    font-weight: normal;
    cursor: pointer;
}

.container-fluid.body-content .radio,
.container-fluid.body-content .checkbox {
    display: block;
    min-height: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    vertical-align: middle;
}

.container-fluid.body-content h1,
.container-fluid.body-content h2,
.container-fluid.body-content h3 {
    margin-top: 20px;
    margin-bottom: 10px;
}

.container-fluid.body-content h1,
.container-fluid.body-content h2,
.container-fluid.body-content h3,
.container-fluid.body-content h4,
.container-fluid.body-content h5,
.container-fluid.body-content h6,
.container-fluid.body-content .h1,
.container-fluid.body-content .h2,
.container-fluid.body-content .h3,
.container-fluid.body-content .h4,
.container-fluid.body-content .h5,
.container-fluid.body-content .h6 {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 500;
    line-height: 1.1;
}

.container-fluid.body-content .btn-primary {
    color: #fff;
    background-color: #428bca;
    border-color: #357ebd;
}

.container-fluid.body-content .btn-primary:hover,
.container-fluid.body-content .btn-primary:focus,
.container-fluid.body-content .btn-primary:active,
.container-fluid.body-content .btn-primary.active {
    color: #fff;
    background-color: #3276b1;
    border-color: #285e8e;
}

.navbar {
    position: relative;
    z-index: 1000;
    min-height: 50px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-top-width: 1px;
    border-top-color: transparent;
    border-right-width: 1px;
    border-right-color: transparent;
    border-bottom-width: 1px;
    border-bottom-color: transparent;
    border-left-width: 1px;
    border-left-color: transparent;
}

@media (min-width: 768px) {
    .navbar-collapse.collapse {
        display: block !important;
        height: auto !important;
        padding-bottom: 0;
        overflow: visible !important;
    }
}